

.panel-cover--overlay {
    background-color: rgba(54, 58, 66, 0.6);
  background-image: -webkit-linear-gradient(-410deg, rgba(54, 58, 66, 0.6) 20%, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(140deg,rgba(54, 58, 66, 0.6) 20%, rgba(0, 0, 0, 0.9)); 

}

.photo-pane {
    width: 100%;
    height: 100%;
    background: url(../images/coming-soon.jpg) top left no-repeatd;
}

.small-divider { margin-top: 8px; }

img[alt=maze] {width: 300px;}
img[alt=maze-graph], 
img[alt=maze-graph-solution], 
img[alt=maze-graph-loop]
 {width: 200px;}
 img[alt=maze-array-objects] { width: 200px; }

/* prism ovrrides */
pre[class*="language-"] {padding: 0 !important; border: none !important; border-radius: 0 !important;}
span.comment { color: #339933 !important; text-shadow: none !important;}


table.maze-table { border-spacing: 0; border-collapse: collapse; }
table.maze-table td { border: 1px solid #dfdfdf; padding: 19px; }
#bigTableDiv table.maze-table td { padding: 8px; font-size: .8em;}
.maze-table .alt { background-color: #EBFFF6; }
.maze-table .selected {
        background-color: #336666;
        color: #fff;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=40);
        /* Netscape */
        -moz-opacity: 0.4;
        /* Safari 1.x */
        -khtml-opacity: 0.4;
        /* Good browsers */
        opacity: 0.4;
    }
    